.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px;
  gap: 20px;
  background-color: hsl(168, 34%, 41%);
}

.footer-brand {
  font-size: 25px;
  font-weight: bold;
  color: hsl(167, 40%, 24%);
}

.footer-nav .footer-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 40px;
  margin: 0;
}

.footer-links a {
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Barlow", serif;
  font-weight: 400;
  color: hsl(167, 40%, 24%);
}

.footer-links a:hover {
  color: white;
}

.footer-social a {
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.footer-social a:hover {
  color: white;
}
