.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cherry-image-container,
.orange-image-container {
  position: relative;
}

.cherry-image-container img,
.orange-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Media query for screens 875px or smaller */
@media (max-width: 875px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .image-container {
    width: 100%;
    height: auto;
  }

  .text-overlay {
    top: 75%;
    width: 80%;
    max-width: 280px;
  }
}
