.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  transform: rotate(270deg);
}

.navbar-links li {
  margin-right: 40px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.296);
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Responsive navigation menu */
@media (max-width: 750px) {
  .navbar {
    padding: 10px 15px;
  }

  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 5%;
    width: 90%;
    background-color: white;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-links a:hover {
    text-transform: uppercase;
    background-color: hsl(51, 100%, 49%);
    color: black;
    font-family: "Fraunces", serif;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
  }

  .navbar-links a {
    color: hsl(232, 10%, 55%);
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 15px 0;
  }
}
